@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App{
  border: 1px solid black;
  padding: 50px;
  border-radius: 5px;
}

.boutton-off{
  display: flex;
  gap: 5px;
}

